fastapi>=0.111.1
uvicorn[standard]>=0.23.0
google-adk==1.14.0
google-cloud-logging
langchain-community==0.3.27
wikipedia==1.4.0
yfinance
python-dotenv
requests
protobuf>=3.20.2,<7.0.0
numpy>=1.26.0,<2.2.0